<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Agregar un Estado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/estilo1.css">
    </head>
    <body>
        <div class="header">
            <a href="#default" class="logo">CRUD ESTADOS</a>
            <div class="header-right">
                
                <a th:href="@{/}">REGRESAR</a>
            </div>
        </div>


        <br>
        <hr>

        <form th:action="@{/estado/guardar}" method="POST" th:object="${estado}">
            <input type="hidden" name="idPais" th:field="*{idPais}">
            <label>Nombre del Pais</label>
            <input type="text" name="nombre" th:field="*{nombre}">
            <br>
            <label>Capital del Pais</label>
            <input type="text" name="capital" th:field="*{capital}">
            <br>
            <label>Numero de poblacion</label>
            <input type="number" name="poblacion" th:field="*{poblacion}">
            <br>
            <label>Provincias</label>
            <input type="text" name="provincias" th:field="*{provincias}">
            <br>
            <input type="submit" value="guardar" />
        </form>
    </body>
</html>
