<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Estados Index</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/estilo1.css">
    </head>

    <body>

        <div class="header">
            <a href="#default" class="logo">CRUD ESTADOS</a>
            <div class="header-right">
                <a class="active" href="">Index</a>
                <a th:href="@{/estado/nuevo}">Agregar</a>

            </div>
        </div>

        <br>
        <hr>

        <div th:if="${estado!=null and !estado.empty}">
            <table border="1">
                <thead >
                    <tr>
                        <th>Id Pais</th>
                        <th>Nombre del Pais</th>
                        <th>Capital del Pais</th>
                        <th>Poblacion del Pais</th>
                        <th>Cantidad de Provincias</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="estado : ${estado}">
                        <td>[[${estado.idPais}]]</td>
                        <td>[[${estado.nombre}]]</td>
                        <td>[[${estado.capital}]]</td>
                        <td>[[${estado.poblacion}]]</td>
                        <td>[[${estado.provincias}]]</td>
                        <td><a th:href="@{/estado/modificar/}+${estado.idPais}">Modificar</a></td>
                        
                    </tr>
                </tbody>
            </table>

        </div>
        
        <div th:if="${estado==null or estado.empty}">
            
            <h3>NO HAY DATOS XD</h3>
        </div>


    </body>
</html>
