<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/estilo1.css">
    </head>
    <body>
        <a th:href="@{/}">REGRESAR</a>
        
        <form th:action="@{/estado/modificar" method="POST" th:object="${estado}">
            
            <input type="text" name="nombre" th:field="*{nombre}">
        </form>
    </body>
</html>
